/* App.css */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; /* Cambia la fuente a Montserrat */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(rgb(44, 62, 103), rgb(35, 38, 42));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  padding: 20px;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 9px;
  font-size: 1em;
  margin-right: 8px; /* Espacio entre el input y el botón */
  border: none;
  border-radius: 5px;
}

.input-group {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 8px; /* Espacio entre el input y el botón */
}
.search-button {
  padding: 10px 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #fbfeff;
  color: #44464b;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: #b8b8b8;
}

.lyrics-container {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-family: "Imprima", sans-serif;
  font-size: 1em;
  max-width: 600px;
  background-color: #0000003e;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lyrics-container pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.video-container iframe {
  width: 100%;
  max-width: 560px; /* Ajusta este valor según sea necesario */
  height: 315px; /* Ajusta este valor según sea necesario */
  border: none;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
  .App-header {
    padding: 20px;
  }

  .search-input {
    width: 100%;
  }

  .lyrics-container {
    width: 100%;
  }

  .video-container {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  pre {
    font-size: 1em;
  }

  input, button {
    font-size: 1em;
  }
}

.song-info {
  text-align: center;
  margin-bottom: 20px;
}

.cover-image {
  width: 300px; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 10px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
}

.footer-icons a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #61dafb;
}